﻿@model IEnumerable<PictureGallery.Models.Album>

@{
    ViewData["Title"] = "All albums";
}

<h3>All albums</h3>

<table class="table" id="allAlbums">
    <thead>
        <tr>
            @*<th id="albumcoverpic">
                albumcoverpic
            </th>*@
            <th id="title">
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th id="userId">
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th id="dateCreated">
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            @if (ViewBag.CurrentUserId != null)
            {
                <th id="isFavorite">
                    @Html.DisplayNameFor(model => model.IsFavorite)
                </th>
            }
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            @*<td>
                siin peaks olema
            </td>*@
            <td>
                <a asp-controller="Albums" asp-action="Details" asp-route-id="@item.Id">
                    @item.Title
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.FirstName)
                @Html.DisplayFor(modelItem => item.User.LastName)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            @if (ViewBag.CurrentUserId != null)
            {
                <td>
                    @{
                        var idFaveBtn = "favebutton_" + item.Id;
                    }
                    @if (item.IsFavorite)
                    {
                        <button id='@idFaveBtn' class="buttonIsFavoriteActive">FAVED</button>
                    }
                    else
                    {
                        <button id='@idFaveBtn' class="buttonIsFavorite">Favorite</button>
                    }
                </td>
            }
        </tr>
        }
    </tbody>
</table>

@section Scripts
    {
    <script type="text/javascript">

        function sortTable(f, n) {
            var rows = $('#allAlbums tbody  tr').get();

            rows.sort(function (a, b) {

                var A = getVal(a);
                var B = getVal(b);

                if (A < B) {
                    return -1 * f;
                }
                if (A > B) {
                    return 1 * f;
                }
                return 0;
            });

            function getVal(elm) {
                var v = $(elm).children('td').eq(n).text().toUpperCase();
                if ($.isNumeric(v)) {
                    v = parseInt(v, 10);
                }
                return v;
            }

            $.each(rows, function (index, row) {
                $('#allAlbums').children('tbody').append(row);
            });
        }
        var f_title = 1;
        var f_userId = 1;
        var f_dateCreated = 1;
        var f_isFavorite = 1;


        $("#title").click(function () {
            f_title *= -1;
            var n = $(this).prevAll().length;
            sortTable(f_title, n);
        });
        $("#userId").click(function () {
            f_userId *= -1;
            var n = $(this).prevAll().length;
            sortTable(f_userId, n);
        });
        $("#dateCreated").click(function () {
            f_dateCreated *= -1;
            var n = $(this).prevAll().length;
            sortTable(f_dateCreated, n);
        });
        $("#isFavorite").click(function () {
            f_isFavorite *= -1;
            var n = $(this).prevAll().length;
            sortTable(f_isFavorite, n);
        });

        $(document).ready(function () {
            $(document).on('click', '.buttonIsFavorite', function (event) {
                event.preventDefault();
                if ($(this).hasClass('buttonIsFavorite')) {
                    $(this).removeClass('buttonIsFavorite');
                    $(this).addClass('buttonIsFavoriteActive');
                }
                //$(this).toggleClass('buttonIsLikedActive');

                var id = this.id;
                $.ajax({
                    type: 'POST',
                    url: "/Favorites/FavoriteCheck/",
                    data: {
                        albumId: id.replace("favebutton_", ""),
                        isFavorite: $(this).hasClass('buttonIsFavoriteActive'),
                        userId : '@ViewBag.CurrentUserId'
                    },
                    success: function (result) {
                        var tr = "<tr>"
                        tr += "<td>" + result.isFavorite + "</td>";
                    }
                });
            });
            $(document).on('click', '.buttonIsFavoriteActive', function (event) {
                event.preventDefault();
                if ($(this).hasClass('buttonIsFavoriteActive')) {
                    $(this).removeClass('buttonIsFavoriteActive');
                    $(this).addClass('buttonIsFavorite');

                }
                //$(this).toggleClass('buttonIsLikedActive');

                var id = this.id;
                $.ajax({
                    type: 'POST',
                    url: "/Favorites/FavoriteCheck/",
                    data: {
                        albumId: id.replace("favebutton_", ""),
                        isFavorite: $(this).hasClass('buttonIsFavoriteActive'),
                        userId: '@ViewBag.CurrentUserId'
                    },
                    success: function (result) {
                        var tr = "<tr>"
                        tr += "<td>" + result.isFavorite + "</td>";
                    }
                });
            });
        });
    </script>
}