﻿@model IEnumerable<PictureGallery.Models.Album>

@{
    ViewData["Title"] = "My albums";
}

<h3>My albums</h3>

<p>
    <a asp-action="Create"><img src="~/images/addalb.png"
     alt="Add new album" height="50" width="50" /></a>
</p>

@* vaja veel, et ühe albumi all oleks Create New picture *@
<table class="table" id="myAlbums">
    <thead>
        <tr>
            <th id="title">
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th id="dateCreated">
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th>
                Settings
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @*siin peaks olema albumi coverpic*@
                @*<a>

                <img class="cover" src=@Url.Action("GetThumbnail", "Pictures", new { pictureId = item.Id, }) />
            </a>*@
                <a asp-controller="Pictures" asp-action="Create" asp-route-albumId="@item.Id">
                    <img src="~/images/addimg.png"
                         alt="Add new picture" height="50" width="50" />
                </a>
                <a>
                </a>
                <a asp-action="Details" asp-route-id="@item.Id">
                    @item.Title
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit title</a> |

                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>


        </tr>
        }
    </tbody>
</table>



@section Scripts
    {
    <script type="text/javascript">

        function sortTable(f, n) {
            var rows = $('#myAlbums tbody  tr').get();

            rows.sort(function (a, b) {

                var A = getVal(a);
                var B = getVal(b);

                if (A < B) {
                    return -1 * f;
                }
                if (A > B) {
                    return 1 * f;
                }
                return 0;
            });

            function getVal(elm) {
                var v = $(elm).children('td').eq(n).text().toUpperCase();
                if ($.isNumeric(v)) {
                    v = parseInt(v, 10);
                }
                return v;
            }

            $.each(rows, function (index, row) {
                $('#myAlbums').children('tbody').append(row);
            });
        }
        var f_title = 1;
        var f_userId = 1;
        var f_dateCreated = 1;

        $("#title").click(function () {
            f_title *= -1;
            var n = $(this).prevAll().length;
            sortTable(f_title, n);
        });
        $("#dateCreated").click(function () {
            f_dateCreated *= -1;
            var n = $(this).prevAll().length;
            sortTable(f_dateCreated, n);
        });

    </script>
}