﻿@model PictureGallery.Models.Picture

@{
    ViewData["Title"] = "Delete";
}

<h2>@Model.Title</h2>

<h3>Are you REALLY sure you want to delete this?</h3>
<div>
    <hr />
        @if (Model.Image != null)
    {
        <img src=@Url.Action("GetImageFile", "Pictures", new { pictureId = Model.Id, }) />
    }
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Album)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Album.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="MyIndex">Back to List</a>
    </form>
</div>
