﻿@model PictureGallery.Models.Picture

@{
    ViewData["Title"] = Model.Title;
}


<p />
<div class="onePic">
    @if (@ViewBag.PreviousPictureId != null)
    {
        if (ViewBag.AlbumId == null)
        {
            <a asp-route-id="@ViewBag.PreviousPictureId">
                <img class="arrow2" src="~/images/nool2.png" width="50" height="50" />
            </a>
        }
        else
        {
            <a asp-route-id="@ViewBag.PreviousPictureId" asp-route-albumId="@ViewBag.AlbumId">
                <img class="arrow2" src="~/images/nool2.png" width="50" height="50" />
            </a>
        }
    }

    @if (Model.Image != null)
    {
        <img src=@Url.Action("GetImageFile", "Pictures", new { pictureId = Model.Id, }) />
    }

    @if (@ViewBag.NextPictureId != null)
    {
        if (ViewBag.AlbumId == null)
        {
            <a asp-route-id="@ViewBag.NextPictureId">
                <img class="arrow" src="~/images/nool.png" width="50" height="50" />
            </a>
        }
        else
        {
            <a asp-route-id="@ViewBag.NextPictureId" asp-route-albumId="@ViewBag.AlbumId">
                <img class="arrow" src="~/images/nool.png" width="50" height="50" />
            </a>
        }
    }
            <dt>
                @if (ViewBag.CurrentUserId != null)
                {
                <td>
                    @{
                    var idLikeBtn = "likebutton_" + Model.Id;
                    }
                    @if (Model.IsLiked)
                    {
                    <button id='@idLikeBtn' class="buttonIsLikedActive">Liked</button>
                    }
                    else
                    {
                    <button id='@idLikeBtn' class="buttonIsLiked">Like!</button>
                    }
                </td>
                }
            </dt>
    <h3>@Html.DisplayFor(model => model.Title)</h3>
    <text class="pic-descript">
        @Html.DisplayFor(model => model.Description)
    </text>
    <p />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Album.UserId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Album.User.FirstName)
            @Html.DisplayFor(model => model.Album.User.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Album)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Album.Title)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
        @if (Model.Album.User != null && Model.Album.User.Id == ViewBag.CurrentUserId)
        {
            <a asp-action="Edit" asp-route-id="@Model.Id">Edit picture</a> <text>|</text>
            <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
        }
    </dl>
    <form asp-controller="Pictures" asp-action="SaveComment">
        <input type="hidden" value="@Model.Id" name="PictureId" />
        <div class="form-group">
            <label label-for="CommentText" class="control-label" title="Comment"></label>
            <textarea placeholder="Say something nice..." name="CommentText" id="CommentText" class="form-control" cols="20" rows="2"></textarea>
        </div>
        <div class="form-group">
            <input type="submit" value="Submit" class="btn btn-default" />
        </div>
    </form>
    <hr />
    <b>Comments:</b>
    <p />
    @foreach (var comment in Model.Comments)
    {
        <div class="commentsClass">
            @if (comment.User != null)
            {
                <p><b>@comment.User.FirstName</b> <b>@comment.User.LastName</b> @comment.DateCreated.ToString("dd.MM.yyyy H:mm")</p>
            }
            else
            {
                <p><b>Anonymous User</b> @comment.DateCreated.ToString("dd.MM.yyyy H:mm")</p>
            }
            <p>@comment.Content</p>

            @if (comment.User != null && comment.User.Id == ViewBag.CurrentUserId)
            {
                <a asp-controller="Comments" asp-action="Edit" asp-route-id="@comment.Id">Edit</a><text> |</text>
                <a asp-controller="Comments" asp-action="Delete" asp-route-id="@comment.Id">Delete</a>
            }
        </div>
        <br />
    }
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts
    {
    <script type="text/javascript">
$(document).ready(function () {
            $(document).on('click', '.buttonIsLiked', function (event) {
                event.preventDefault();
                if ($(this).hasClass('buttonIsLiked')) {
                    $(this).removeClass('buttonIsLiked');
                    $(this).addClass('buttonIsLikedActive');

                }
                //$(this).toggleClass('buttonIsLikedActive');

                var id = this.id;
                $.ajax({
                    type: 'POST',
                    url: "/Likes/LikeCheck/",
                    data: {
                        pictureId: id.replace("likebutton_", ""),
                        isLiked: $(this).hasClass('buttonIsLikedActive'),
                        userId : '@ViewBag.CurrentUserId'
                    },
                    success: function (result) {
                        var tr = "<tr>"
                        tr += "<td>" + result.isLiked + "</td>";
                    }
                });
            });
            $(document).on('click', '.buttonIsLikedActive', function (event) {
                event.preventDefault();
                if ($(this).hasClass('buttonIsLikedActive')) {
                    $(this).removeClass('buttonIsLikedActive');
                    $(this).addClass('buttonIsLiked');

                }
                //$(this).toggleClass('buttonIsLikedActive');

                var id = this.id;
                $.ajax({
                    type: 'POST',
                    url: "/Likes/LikeCheck/",
                    data: {
                        pictureId: id.replace("likebutton_", ""),
                        isLiked: $(this).hasClass('buttonIsLikedActive'),
                        userId: '@ViewBag.CurrentUserId'
                    },
                    success: function (result) {
                        var tr = "<tr>"
                        tr += "<td>" + result.isLiked + "</td>";
                    }
                });
            });
        });
    </script>
}