﻿@model PictureGallery.Models.Picture

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Picture</h4>
<hr />

@*Kui piltide tabel ei ole tühi*@
@if (Model.Image != null)
{
    <img src=@Url.Action("GetThumbnail", "Pictures", new { pictureId = Model.Id, }) />
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">@*enctype="multipart/form-data">*@
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            @*<div class="form-group">
            <label asp-for="Image" class="control-label"></label>
            <input type="file" name="Image" id="Image" />
            <span asp-validation-for="Image" class="text-danger"></span>
            </div>*@
                @*<div class="form-group">
            <label asp-for="AlbumId" class="control-label"></label>
            <input asp-for="AlbumId" class="form-control" />
            <span asp-validation-for="AlbumId" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="AlbumId" class="control-label"></label>
                <select asp-for="AlbumId" class="form-control" asp-items="ViewBag.AlbumId"></select>
                <span asp-validation-for="AlbumId" class="text-danger"></span>
            </div>
            @* Määrab Image väärtuseks sama väärtuse, mis enne *@
            @*<input type="hidden" name="Image" id="Image" value="@ViewBag.Image" />
            <span asp-validation-for="Image" class="text-danger"></span>*@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="MyIndex">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
