﻿@model IEnumerable<PictureGallery.Models.Picture>

@{
    ViewData["Title"] = "All pictures";
}

<h3>All pictures</h3>

@foreach (var item in Model)
{
    <a asp-controller="Pictures" asp-action="Details" asp-route-id="@item.Id">
        <img class="cover" src=@Url.Action("GetThumbnail", "Pictures", new { pictureId = item.Id }) />
    </a>
}

<table class="table" id="allPictures">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th id="title">
                @Html.DisplayNameFor(model => model.Title)
            </th>
            @*<th id="user">
            @Html.DisplayNameFor(model => model.Album.User)
        </th>*@
            <th id="album">
                @Html.DisplayNameFor(model => model.Album)
            </th>
            <th id="dateCreated">
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            @if (ViewBag.CurrentUserId != null)
            {
                <th id="isLikeColumn">
                    @Html.DisplayNameFor(model => model.IsLiked)
                </th>
            }
                <th id="amountOfLikes">
                    @Html.DisplayNameFor(model => model.AmountOfLikes)
                </th>
                <th></th>
            </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @if (item.Image != null)
                {
                    <a asp-controller="Pictures" asp-action="Details" asp-route-id="@item.Id">
                        <div class="floated_img"> <img src=@Url.Action("GetThumbnail", "Pictures", new { pictureId = item.Id, }) width="100" /></div>
                    </a>
                }
            </td>
            <td>
                <a asp-controller="Pictures" asp-action="Details" asp-route-id="@item.Id">
                    @Html.DisplayFor(modelItem => item.Title)
                </a>
            </td>
            @*<td>
            @Html.DisplayFor(modelItem => item.Album.User.FirstName)
            @Html.DisplayFor(modelItem => item.Album.User.LastName)
        </td>*@
            <td>
                <a asp-controller="Albums" asp-action="Details" asp-route-id="@item.Album.Id">
                    @Html.DisplayFor(modelItem => item.Album.Title)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            @if (ViewBag.CurrentUserId != null)
            {
                <td>
                    @{
                        var idLikeBtn = "likebutton_" + item.Id;
                    }
                    @if (item.IsLiked)
                    {
                        <button id='@idLikeBtn' class="buttonIsLikedActive">Liked</button>
                    }
                    else
                    {
                        <button id='@idLikeBtn' class="buttonIsLiked">Like!</button>
                    }
                </td>
             }
                <td>
                    @Html.DisplayFor(modelItem => item.AmountOfLikes)
                </td>
            </tr>
    }
    </tbody>
</table>

@section Scripts
    {
    <script type="text/javascript">

        function sortTable(f, n) {
            var rows = $('#allPictures tbody  tr').get();

            rows.sort(function (a, b) {

                var A = getVal(a);
                var B = getVal(b);

                if (A < B) {
                    return -1 * f;
                }
                if (A > B) {
                    return 1 * f;
                }
                return 0;
            });

            function getVal(elm) {
                var v = $(elm).children('td').eq(n).text().toUpperCase();
                if ($.isNumeric(v)) {
                    v = parseInt(v, 10);
                }
                return v;
            }

            $.each(rows, function (index, row) {
                $('#allPictures').children('tbody').append(row);
            });
        }
        var f_description = 1;
        var f_title = 1;
        var f_album = 1;
        var f_dateCreated = 1;
        var f_isLikeColumn = 1;
        var f_amountOfLikes = 1;
        $("#description").click(function () {
            f_description *= -1;
            var n = $(this).prevAll().length;
            sortTable(f_description, n);
        });
        $("#title").click(function () {
            f_title *= -1;
            var n = $(this).prevAll().length;
            sortTable(f_title, n);
        });
        $("#album").click(function () {
            f_album *= -1;
            var n = $(this).prevAll().length;
            sortTable(f_album, n);
        });
        $("#dateCreated").click(function () {
            f_dateCreated *= -1;
            var n = $(this).prevAll().length;
            sortTable(f_dateCreated, n);
        });
        $("#isLikeColumn").click(function () {
            f_amountOfLikes *= -1;
            var n = $(this).prevAll().length;
            sortTable(f_amountOfLikes, n);
        });
        $("#amountOfLikes").click(function () {
            f_amountOfLikes *= -1;
            var n = $(this).prevAll().length;
            sortTable(f_amountOfLikes, n);
        });

        $(document).ready(function () {
            $(document).on('click', '.buttonIsLiked', function (event) {
                event.preventDefault();
                if ($(this).hasClass('buttonIsLiked')) {
                    $(this).removeClass('buttonIsLiked');
                    $(this).addClass('buttonIsLikedActive');

                }
                //$(this).toggleClass('buttonIsLikedActive');

                var id = this.id;
                $.ajax({
                    type: 'POST',
                    url: "/Likes/LikeCheck/",
                    data: {
                        pictureId: id.replace("likebutton_", ""),
                        isLiked: $(this).hasClass('buttonIsLikedActive'),
                        userId : '@ViewBag.CurrentUserId'
                    },
                    success: function (result) {
                        var tr = "<tr>"
                        tr += "<td>" + result.isLiked + "</td>";
                    }
                });
            });
            $(document).on('click', '.buttonIsLikedActive', function (event) {
                event.preventDefault();
                if ($(this).hasClass('buttonIsLikedActive')) {
                    $(this).removeClass('buttonIsLikedActive');
                    $(this).addClass('buttonIsLiked');

                }
                //$(this).toggleClass('buttonIsLikedActive');

                var id = this.id;
                $.ajax({
                    type: 'POST',
                    url: "/Likes/LikeCheck/",
                    data: {
                        pictureId: id.replace("likebutton_", ""),
                        isLiked: $(this).hasClass('buttonIsLikedActive'),
                        userId: '@ViewBag.CurrentUserId'
                    },
                    success: function (result) {
                        var tr = "<tr>"
                        tr += "<td>" + result.isLiked + "</td>";
                    }
                });
            });
        });
    </script>
}