﻿@model PictureGallery.ViewModels.FirstPageContent

@{
    ViewData["Title"] = "PictureGallery";
}


<div class="column">
    <h4>New pictures:</h4>
    <div class="row">
        @foreach (var item in Model.NewestPictures)
        {
            <div class="col-sm-4">
                @if (item.Image != null)
                {
                <a asp-controller="Pictures" asp-action="Details" asp-route-id="@item.Id">
                    <img class="cover" src=@Url.Action("GetThumbnail", "Pictures", new { pictureId = item.Id, }) 
                      alt= @item.Title, @item.Album.User.FirstName @item.Album.User.LastName 
                      title="@item.Title, by @item.Album.User.FirstName @item.Album.User.LastName"/>
                </a>
                }
            </div>
        }
    </div>
    <h4>Best pictures:</h4>
    <div class="row">
        @foreach (var item in Model.MostLikedPictures1stRow)
        {
            <div class="col-sm-4">
                @if (item.Image != null)
                {
                    <a asp-controller="Pictures" asp-action="Details" asp-route-id="@item.Id">
                        <img class="cover" src=@Url.Action("GetThumbnail", "Pictures", new { pictureId = item.Id, }) 
                             alt= @item.Title, @item.Album.User.FirstName @item.Album.User.LastName 
                            title="@item.Title, by @item.Album.User.FirstName @item.Album.User.LastName"/>
                    </a>
                }
            </div>
        }
    </div>
    <div class="row">
        @foreach (var item in Model.MostLikedPictures2ndRow)
        {
        <div class="col-sm-4">
            @if (item.Image != null)
            {
                <a asp-controller="Pictures" asp-action="Details" asp-route-id="@item.Id">
                    <img class="cover" src=@Url.Action("GetThumbnail", "Pictures", new { pictureId = item.Id, })
                         alt=@item.Title , @item.Album.User.FirstName @item.Album.User.LastName
                        title="@item.Title, by @item.Album.User.FirstName @item.Album.User.LastName" />
                </a>
            }
        </div>
        }
    </div>
    <h4>New albums:</h4>
    <div class="row">
        @foreach (var item in Model.NewestAlbumCoverPictures)
        {
        <div class="col-sm-4">
            @item.Album.User.FirstName
            @item.Album.User.LastName:
            <a asp-controller="Albums" asp-action="Details" asp-route-id="@item.Album.Id">
                <i>@item.Album.Title</i>
                <img class="cover" src=@Url.Action("GetThumbnail", "Pictures", new { pictureId = item.Id, }) 
                    alt= @item.Album.Title, @item.Album.User.FirstName @item.Album.User.LastName 
                    title="Album: @item.Album.Title, by @item.Album.User.FirstName @item.Album.User.LastName"/>
            </a>
        </div>
        }
    </div>
    <h4>Best albums:</h4>
    <div class="row">
        @foreach (var item in Model.BestAlbumCoverPictures)
        {
        <div class="col-sm-4">
            @item.Album.User.FirstName
            @item.Album.User.LastName:
                <a asp-controller="Albums" asp-action="Details" asp-route-id="@item.Album.Id">
                    <i>@item.Album.Title</i>
                    <img class="cover" src=@Url.Action("GetThumbnail", "Pictures", new { pictureId = item.Id, }) 
                         alt= @item.Album.Title, @item.Album.User.FirstName @item.Album.User.LastName 
                         title="Album: @item.Album.Title, by @item.Album.User.FirstName @item.Album.User.LastName"/>
                </a>
        </div>
        }
    </div>
